html{
    margin-top: 30px;
}
.item {
    position: relative;
    border: 1px solid white;
    border-radius: 3px;
    margin-right: 10px;
}
.item  p {
    padding: 5px;
    text-align: center;
}
.item b{
    font-weight: bold;
}
i{
    position: absolute;
    left: 60%;
    color:  rgb(24, 71, 202);
}
a{
    color: rgb(24, 71, 202);
    position: absolute;
    left: 35%;
    text-decoration: none;
}
img{
    width: 100%;
}
.box{
    height: 40px;
    width: 40px;
    left: 40px;
    top: 0px;
    position: absolute;
    background-color: rgb(39, 119, 224);
}
.box span{
    padding: 2px;
    color: white;
}
.box-2 {
    height: 40px;
    width: 40px;
    left: 44px;
    top: 4px;
    position: absolute;
    background-color: white;
}
.text {
    color: rgb(22, 5, 41);
}
.text::before{
    content: "";
    position: absolute;
    left: 50px;
    top: 50px;
    height: 25px;
    width: 5px;
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    transform: rotate(45deg);
    
}
.text::after{
    content: "";
    position: absolute;
    left: 60px;
    top: 50px;
    height: 25px;
    width: 5px;
    background-color: rgb(168, 128, 180);
    border-radius: 5px;
    transform: rotate(45deg);
    
}